In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [5]:
num_lines = sum(1 for l in open('../datasets/expedia-personalized-sort/data/train.csv'))
sample = int(num_lines/10)
skip = sorted(random.sample(range(1,num_lines),num_lines-sample))
df = pd.read_csv(
         '../datasets/expedia-personalized-sort/data/test.csv',
         header=0,
         skiprows= skip,
)

In [7]:
df.to_csv('../datasets/expedia-personalized-sort/data/explore.csv')

In [8]:
data = pd.read_csv('../datasets/expedia-personalized-sort/data/explore.csv')
data.head(10)

,Unnamed: 0,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,...,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff
0,0,3,2013-06-05 17:56:22,5,219,NaN,NaN,219,57724,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4.0
1,1,3,2013-06-05 17:56:22,5,219,NaN,NaN,219,117667,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2,3,2013-06-05 17:56:22,5,219,NaN,NaN,219,119952,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,3,5,2013-03-21 21:59:35,9,59,NaN,NaN,219,23212,4,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,20.0
4,4,5,2013-03-21 21:59:35,9,59,NaN,NaN,219,59105,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,15.0
5,5,5,2013-03-21 21:59:35,9,59,NaN,NaN,219,98862,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
6,6,9,2013-06-17 12:48:47,14,100,NaN,NaN,219,1704,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,10,2013-04-03 18:35:08,5,219,NaN,NaN,219,104142,3,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,3.0
8,8,10,2013-04-03 18:35:08,5,219,NaN,NaN,219,126066,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
9,9,13,2013-02-21 22:06:07,5,219,NaN,NaN,229,33286,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data.columns.unique()

Index([u'Unnamed: 0', u'srch_id', u'date_time', u'site_id',
       u'visitor_location_country_id', u'visitor_hist_starrating',
       u'visitor_hist_adr_usd', u'prop_country_id', u'prop_id',
       u'prop_starrating', u'prop_review_score', u'prop_brand_bool',
       u'prop_location_score1', u'prop_location_score2',
       u'prop_log_historical_price', u'price_usd', u'promotion_flag',
       u'srch_destination_id', u'srch_length_of_stay', u'srch_booking_window',
       u'srch_adults_count', u'srch_children_count', u'srch_room_count',
       u'srch_saturday_night_bool', u'srch_query_affinity_score',
       u'orig_destination_distance', u'random_bool', u'comp1_rate',
       u'comp1_inv', u'comp1_rate_percent_diff', u'comp2_rate', u'comp2_inv',
       u'comp2_rate_percent_diff', u'comp3_rate', u'comp3_inv',
       u'comp3_rate_percent_diff', u'comp4_rate', u'comp4_inv',
       u'comp4_rate_percent_diff', u'comp5_rate', u'comp5_inv',
       u'comp5_rate_percent_diff', u'comp6_rate', u'comp6_inv',
       u'comp6_rate_percent_diff', u'comp7_rate', u'comp7_inv',
       u'comp7_rate_percent_diff', u'comp8_rate', u'comp8_inv',
       u'comp8_rate_percent_diff'],
      dtype='object')

In [13]:
def num_missing(x):
    return sum(x.isnull())

In [14]:
# Find if any row has missing value
data.apply(num_missing, axis=1)

0         18
1         18
2         19
3         13
4         19
5         18
6         27
7         18
8         19
9         25
10        24
11        26
12        19
13        27
14        19
15        19
16        21
17        15
18        19
19        14
20        14
21        17
22        17
23        13
24        10
25        15
26        27
27        27
28        27
29        27
          ..
662306    27
662307    28
662308    27
662309    27
662310    24
662311    26
662312    23
662313    21
662314    27
662315    19
662316    21
662317    18
662318    20
662319    28
662320    19
662321    27
662322    22
662323    21
662324    22
662325    22
662326    21
662327    18
662328    24
662329    23
662330    26
662331    28
662332    26
662333    23
662334    23
662335    25
Length: 662336, dtype: int64

In [15]:
# Find which columns has how much missing vlaue 

data.apply(num_missing, axis=0)

Unnamed: 0                          0
srch_id                             0
date_time                           0
site_id                             0
visitor_location_country_id         0
visitor_hist_starrating        628699
visitor_hist_adr_usd           628512
prop_country_id                     0
prop_id                             0
prop_starrating                     0
prop_review_score                 948
prop_brand_bool                     0
prop_location_score1                0
prop_location_score2           145229
prop_log_historical_price           0
price_usd                           0
promotion_flag                      0
srch_destination_id                 0
srch_length_of_stay                 0
srch_booking_window                 0
srch_adults_count                   0
srch_children_count                 0
srch_room_count                     0
srch_saturday_night_bool            0
srch_query_affinity_score      619712
orig_destination_distance      214858
random_bool                         0
comp1_rate                     646883
comp1_inv                      645711
comp1_rate_percent_diff        650124
comp2_rate                     391713
comp2_inv                      377698
comp2_rate_percent_diff        587908
comp3_rate                     458858
comp3_inv                      443245
comp3_rate_percent_diff        599379
comp4_rate                     620689
comp4_inv                      615815
comp4_rate_percent_diff        644529
comp5_rate                     364637
comp5_inv                      346130
comp5_rate_percent_diff        549709
comp6_rate                     629959
comp6_inv                      627133
comp6_rate_percent_diff        649193
comp7_rate                     619683
comp7_inv                      614285
comp7_rate_percent_diff        643427
comp8_rate                     407677
comp8_inv                      398268
comp8_rate_percent_diff        580769
dtype: int64

In [16]:
data.shape

(662336, 51)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 662336 entries, 0 to 662335
Data columns (total 51 columns):
Unnamed: 0                     662336 non-null int64
srch_id                        662336 non-null int64
date_time                      662336 non-null object
site_id                        662336 non-null int64
visitor_location_country_id    662336 non-null int64
visitor_hist_starrating        33637 non-null float64
visitor_hist_adr_usd           33824 non-null float64
prop_country_id                662336 non-null int64
prop_id                        662336 non-null int64
prop_starrating                662336 non-null int64
prop_review_score              661388 non-null float64
prop_brand_bool                662336 non-null int64
prop_location_score1           662336 non-null float64
prop_location_score2           517107 non-null float64
prop_log_historical_price      662336 non-null float64
price_usd                      662336 non-null float64
promotion_flag                 662336 non-null int64
srch_destination_id            662336 non-null int64
srch_length_of_stay            662336 non-null int64
srch_booking_window            662336 non-null int64
srch_adults_count              662336 non-null int64
srch_children_count            662336 non-null int64
srch_room_count                662336 non-null int64
srch_saturday_night_bool       662336 non-null int64
srch_query_affinity_score      42624 non-null float64
orig_destination_distance      447478 non-null float64
random_bool                    662336 non-null int64
comp1_rate                     15453 non-null float64
comp1_inv                      16625 non-null float64
comp1_rate_percent_diff        12212 non-null float64
comp2_rate                     270623 non-null float64
comp2_inv                      284638 non-null float64
comp2_rate_percent_diff        74428 non-null float64
comp3_rate                     203478 non-null float64
comp3_inv                      219091 non-null float64
comp3_rate_percent_diff        62957 non-null float64
comp4_rate                     41647 non-null float64
comp4_inv                      46521 non-null float64
comp4_rate_percent_diff        17807 non-null float64
comp5_rate                     297699 non-null float64
comp5_inv                      316206 non-null float64
comp5_rate_percent_diff        112627 non-null float64
comp6_rate                     32377 non-null float64
comp6_inv                      35203 non-null float64
comp6_rate_percent_diff        13143 non-null float64
comp7_rate                     42653 non-null float64
comp7_inv                      48051 non-null float64
comp7_rate_percent_diff        18909 non-null float64
comp8_rate                     254659 non-null float64
comp8_inv                      264068 non-null float64
comp8_rate_percent_diff        81567 non-null float64
dtypes: float64(33), int64(17), object(1)
memory usage: 257.7+ MB

In [18]:
data.describe()

,Unnamed: 0,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff
count,662336.000000,662336.000000,662336.000000,662336.000000,33637.000000,33824.000000,662336.000000,662336.00000,662336.000000,661388.000000,...,112627.000000,32377.000000,35203.000000,13143.000000,42653.000000,48051.000000,18909.000000,254659.000000,264068.000000,81567.000000
mean,331167.500000,333153.343986,9.954343,175.336541,3.354464,174.797830,173.793566,70033.97650,3.182136,3.782473,...,24.744599,0.134416,0.077493,17.108727,0.150869,0.082496,19.966577,-0.060249,0.010293,22.160482
std,191200.078285,192178.478006,7.647157,65.843001,0.691506,106.747157,68.456242,40642.18782,1.048269,1.044966,...,832.203179,0.566087,0.304717,28.899736,0.581615,0.312720,48.016657,0.469275,0.202926,810.761592
min,0.000000,3.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.00000,0.000000,0.000000,...,2.000000,-1.000000,-1.000000,2.000000,-1.000000,-1.000000,2.000000,-1.000000,-1.000000,2.000000
25%,165583.750000,166443.750000,5.000000,100.000000,2.900000,109.595000,100.000000,34966.00000,3.000000,3.500000,...,7.000000,0.000000,0.000000,6.000000,0.000000,0.000000,7.000000,0.000000,0.000000,7.000000
50%,331167.500000,333844.000000,5.000000,219.000000,3.400000,150.930000,219.000000,69512.00000,3.000000,4.000000,...,12.000000,0.000000,0.000000,11.000000,0.000000,0.000000,12.000000,0.000000,0.000000,11.000000
75%,496751.250000,499285.000000,14.000000,219.000000,3.910000,212.040000,219.000000,105183.00000,4.000000,4.500000,...,21.000000,0.000000,0.000000,18.000000,1.000000,0.000000,20.000000,0.000000,0.000000,17.000000
max,662335.000000,665571.000000,34.000000,231.000000,5.000000,1654.920000,230.000000,140821.00000,5.000000,5.000000,...,119400.000000,1.000000,1.000000,998.000000,1.000000,1.000000,1597.000000,1.000000,1.000000,149400.000000