In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/data/train.csv')

In [3]:
df.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [10]:
df['visitor_hist_starrating'].describe()

count    505297.000000
mean          3.374634
std           0.692218
min           1.000000
25%           2.920000
50%           3.440000
75%           3.940000
max           5.000000
Name: visitor_hist_starrating, dtype: float64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9917530 entries, 0 to 9917529
Data columns (total 54 columns):
srch_id                        int64
date_time                      object
site_id                        int64
visitor_location_country_id    int64
visitor_hist_starrating        float64
visitor_hist_adr_usd           float64
prop_country_id                int64
prop_id                        int64
prop_starrating                int64
prop_review_score              float64
prop_brand_bool                int64
prop_location_score1           float64
prop_location_score2           float64
prop_log_historical_price      float64
position                       int64
price_usd                      float64
promotion_flag                 int64
srch_destination_id            int64
srch_length_of_stay            int64
srch_booking_window            int64
srch_adults_count              int64
srch_children_count            int64
srch_room_count                int64
srch_saturday_night_bool       int64
srch_query_affinity_score      float64
orig_destination_distance      float64
random_bool                    int64
comp1_rate                     float64
comp1_inv                      float64
comp1_rate_percent_diff        float64
comp2_rate                     float64
comp2_inv                      float64
comp2_rate_percent_diff        float64
comp3_rate                     float64
comp3_inv                      float64
comp3_rate_percent_diff        float64
comp4_rate                     float64
comp4_inv                      float64
comp4_rate_percent_diff        float64
comp5_rate                     float64
comp5_inv                      float64
comp5_rate_percent_diff        float64
comp6_rate                     float64
comp6_inv                      float64
comp6_rate_percent_diff        float64
comp7_rate                     float64
comp7_inv                      float64
comp7_rate_percent_diff        float64
comp8_rate                     float64
comp8_inv                      float64
comp8_rate_percent_diff        float64
click_bool                     int64
gross_bookings_usd             float64
booking_bool                   int64
dtypes: float64(34), int64(19), object(1)
memory usage: 4.0+ GB

In [12]:
df.count()

srch_id                        9917530
date_time                      9917530
site_id                        9917530
visitor_location_country_id    9917530
visitor_hist_starrating         505297
visitor_hist_adr_usd            507612
prop_country_id                9917530
prop_id                        9917530
prop_starrating                9917530
prop_review_score              9902900
prop_brand_bool                9917530
prop_location_score1           9917530
prop_location_score2           7739150
prop_log_historical_price      9917530
position                       9917530
price_usd                      9917530
promotion_flag                 9917530
srch_destination_id            9917530
srch_length_of_stay            9917530
srch_booking_window            9917530
srch_adults_count              9917530
srch_children_count            9917530
srch_room_count                9917530
srch_saturday_night_bool       9917530
srch_query_affinity_score       635564
orig_destination_distance      6701069
random_bool                    9917530
comp1_rate                      235806
comp1_inv                       254433
comp1_rate_percent_diff         184907
comp2_rate                     4040633
comp2_inv                      4251538
comp2_rate_percent_diff        1109847
comp3_rate                     3059273
comp3_inv                      3292221
comp3_rate_percent_diff         944007
comp4_rate                      620099
comp4_inv                       692471
comp4_rate_percent_diff         264213
comp5_rate                     4444294
comp5_inv                      4720833
comp5_rate_percent_diff        1681006
comp6_rate                      482487
comp6_inv                       524145
comp6_rate_percent_diff         193312
comp7_rate                      631077
comp7_inv                       713175
comp7_rate_percent_diff         277838
comp8_rate                     3819043
comp8_inv                      3960388
comp8_rate_percent_diff        1225707
click_bool                     9917530
gross_bookings_usd              276592
booking_bool                   9917530
dtype: int64

In [15]:
df['booking_bool'].unique()

array([0, 1])

In [16]:
df.describe()

,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
count,9.917530e+06,9.917530e+06,9.917530e+06,505297.000000,507612.000000,9.917530e+06,9.917530e+06,9.917530e+06,9.902900e+06,9.917530e+06,...,1.933120e+05,631077.000000,713175.000000,277838.000000,3.819043e+06,3.960388e+06,1.225707e+06,9.917530e+06,276592.000000,9.917530e+06
mean,3.329138e+05,9.966175e+00,1.752954e+02,3.374634,176.588512,1.739055e+02,7.008015e+04,3.181534e+00,3.777702e+00,6.343042e-01,...,2.301390e+01,0.147061,0.082259,20.141888,-6.072490e-02,9.889435e-03,2.321000e+01,4.473614e-02,386.530099,2.788930e-02
std,1.922876e+05,7.657325e+00,6.590955e+01,0.692218,108.434842,6.834768e+01,4.061177e+04,1.050191e+00,1.050806e+00,4.816248e-01,...,2.560429e+03,0.578748,0.316165,136.217976,4.692456e-01,2.031648e-01,9.462088e+02,2.067240e-01,801.073164,1.646557e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.000000e+00,-1.000000,-1.000000,2.000000,-1.000000e+00,-1.000000e+00,2.000000e+00,0.000000e+00,0.000000,0.000000e+00
25%,1.665160e+05,5.000000e+00,1.000000e+02,2.920000,110.330000,1.000000e+02,3.501000e+04,3.000000e+00,3.500000e+00,0.000000e+00,...,6.000000e+00,0.000000,0.000000,7.000000,0.000000e+00,0.000000e+00,7.000000e+00,0.000000e+00,124.240000,0.000000e+00
50%,3.328140e+05,5.000000e+00,2.190000e+02,3.440000,151.830000,2.190000e+02,6.961500e+04,3.000000e+00,4.000000e+00,1.000000e+00,...,1.100000e+01,0.000000,0.000000,12.000000,0.000000e+00,0.000000e+00,1.100000e+01,0.000000e+00,219.420000,0.000000e+00
75%,4.999000e+05,1.400000e+01,2.190000e+02,3.940000,214.350000,2.190000e+02,1.051770e+05,4.000000e+00,4.500000e+00,1.000000e+00,...,1.800000e+01,1.000000,0.000000,20.000000,0.000000e+00,0.000000e+00,1.700000e+01,0.000000e+00,431.760000,0.000000e+00
max,6.655740e+05,3.400000e+01,2.310000e+02,5.000000,2768.930000,2.300000e+02,1.408210e+05,5.000000e+00,5.000000e+00,1.000000e+00,...,1.125686e+06,1.000000,1.000000,30216.000000,1.000000e+00,1.000000e+00,1.494000e+05,1.000000e+00,167740.590000,1.000000e+00

In [17]:
df.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [18]:
df.columns

Index(['srch_id', 'date_time', 'site_id', 'visitor_location_country_id',
       'visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'srch_query_affinity_score',
       'orig_destination_distance', 'random_bool', 'comp1_rate', 'comp1_inv',
       'comp1_rate_percent_diff', 'comp2_rate', 'comp2_inv',
       'comp2_rate_percent_diff', 'comp3_rate', 'comp3_inv',
       'comp3_rate_percent_diff', 'comp4_rate', 'comp4_inv',
       'comp4_rate_percent_diff', 'comp5_rate', 'comp5_inv',
       'comp5_rate_percent_diff', 'comp6_rate', 'comp6_inv',
       'comp6_rate_percent_diff', 'comp7_rate', 'comp7_inv',
       'comp7_rate_percent_diff', 'comp8_rate', 'comp8_inv',
       'comp8_rate_percent_diff', 'click_bool', 'gross_bookings_usd',
       'booking_bool'],
      dtype='object')

In [20]:
df[pd.isnull(df).any(axis=1)]

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9917525,665574,2013-05-21 11:06:37,24,216,NaN,NaN,117,32019,4,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
9917526,665574,2013-05-21 11:06:37,24,216,NaN,NaN,117,33959,4,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,154.34,1
9917527,665574,2013-05-21 11:06:37,24,216,NaN,NaN,117,35240,4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
9917528,665574,2013-05-21 11:06:37,24,216,NaN,NaN,117,94437,4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
9917529,665574,2013-05-21 11:06:37,24,216,NaN,NaN,117,99509,4,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [23]:
df.isnull().sum()

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
visitor_hist_starrating        9412233
visitor_hist_adr_usd           9409918
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                14630
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2           2178380
prop_log_historical_price            0
position                             0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
srch_query_affinity_score      9281966
orig_destination_distance      3216461
random_bool                          0
comp1_rate                     9681724
comp1_inv                      9663097
comp1_rate_percent_diff        9732623
comp2_rate                     5876897
comp2_inv                      5665992
comp2_rate_percent_diff        8807683
comp3_rate                     6858257
comp3_inv                      6625309
comp3_rate_percent_diff        8973523
comp4_rate                     9297431
comp4_inv                      9225059
comp4_rate_percent_diff        9653317
comp5_rate                     5473236
comp5_inv                      5196697
comp5_rate_percent_diff        8236524
comp6_rate                     9435043
comp6_inv                      9393385
comp6_rate_percent_diff        9724218
comp7_rate                     9286453
comp7_inv                      9204355
comp7_rate_percent_diff        9639692
comp8_rate                     6098487
comp8_inv                      5957142
comp8_rate_percent_diff        8691823
click_bool                           0
gross_bookings_usd             9640938
booking_bool                         0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9917530 entries, 0 to 9917529
Data columns (total 54 columns):
srch_id                        int64
date_time                      object
site_id                        int64
visitor_location_country_id    int64
visitor_hist_starrating        float64
visitor_hist_adr_usd           float64
prop_country_id                int64
prop_id                        int64
prop_starrating                int64
prop_review_score              float64
prop_brand_bool                int64
prop_location_score1           float64
prop_location_score2           float64
prop_log_historical_price      float64
position                       int64
price_usd                      float64
promotion_flag                 int64
srch_destination_id            int64
srch_length_of_stay            int64
srch_booking_window            int64
srch_adults_count              int64
srch_children_count            int64
srch_room_count                int64
srch_saturday_night_bool       int64
srch_query_affinity_score      float64
orig_destination_distance      float64
random_bool                    int64
comp1_rate                     float64
comp1_inv                      float64
comp1_rate_percent_diff        float64
comp2_rate                     float64
comp2_inv                      float64
comp2_rate_percent_diff        float64
comp3_rate                     float64
comp3_inv                      float64
comp3_rate_percent_diff        float64
comp4_rate                     float64
comp4_inv                      float64
comp4_rate_percent_diff        float64
comp5_rate                     float64
comp5_inv                      float64
comp5_rate_percent_diff        float64
comp6_rate                     float64
comp6_inv                      float64
comp6_rate_percent_diff        float64
comp7_rate                     float64
comp7_inv                      float64
comp7_rate_percent_diff        float64
comp8_rate                     float64
comp8_inv                      float64
comp8_rate_percent_diff        float64
click_bool                     int64
gross_bookings_usd             float64
booking_bool                   int64
dtypes: float64(34), int64(19), object(1)
memory usage: 4.0+ GB

In [25]:
9281966/9917529

0.9359151861315455

In [28]:
3277142/9917529

0.33043936649945765

In [30]:
df.isnull().sum()

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
visitor_hist_starrating        9412233
visitor_hist_adr_usd           9409918
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                14630
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2           2178380
prop_log_historical_price            0
position                             0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
srch_query_affinity_score      9281966
orig_destination_distance      3216461
random_bool                          0
comp1_rate                     9681724
comp1_inv                      9663097
comp1_rate_percent_diff        9732623
comp2_rate                     5876897
comp2_inv                      5665992
comp2_rate_percent_diff        8807683
comp3_rate                     6858257
comp3_inv                      6625309
comp3_rate_percent_diff        8973523
comp4_rate                     9297431
comp4_inv                      9225059
comp4_rate_percent_diff        9653317
comp5_rate                     5473236
comp5_inv                      5196697
comp5_rate_percent_diff        8236524
comp6_rate                     9435043
comp6_inv                      9393385
comp6_rate_percent_diff        9724218
comp7_rate                     9286453
comp7_inv                      9204355
comp7_rate_percent_diff        9639692
comp8_rate                     6098487
comp8_inv                      5957142
comp8_rate_percent_diff        8691823
click_bool                           0
gross_bookings_usd             9640938
booking_bool                         0
dtype: int64

In [40]:
null_counts = df.isnull().sum()
len(null_counts[null_counts <6000000])

31

In [41]:
len(null_counts[null_counts >6000000])

23

In [42]:
31 + 23

54

In [44]:
refined_cols = null_counts[null_counts <6000000]

In [47]:
refined_cols

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                14630
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2           2178380
prop_log_historical_price            0
position                             0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
orig_destination_distance      3216461
random_bool                          0
comp2_rate                     5876897
comp2_inv                      5665992
comp5_rate                     5473236
comp5_inv                      5196697
comp8_inv                      5957142
click_bool                           0
booking_bool                         0
dtype: int64

In [68]:
cols = []
for items in refined_cols.iteritems():
    cols.append(items[0])

In [69]:
cols

['srch_id',
 'date_time',
 'site_id',
 'visitor_location_country_id',
 'prop_country_id',
 'prop_id',
 'prop_starrating',
 'prop_review_score',
 'prop_brand_bool',
 'prop_location_score1',
 'prop_location_score2',
 'prop_log_historical_price',
 'position',
 'price_usd',
 'promotion_flag',
 'srch_destination_id',
 'srch_length_of_stay',
 'srch_booking_window',
 'srch_adults_count',
 'srch_children_count',
 'srch_room_count',
 'srch_saturday_night_bool',
 'orig_destination_distance',
 'random_bool',
 'comp2_rate',
 'comp2_inv',
 'comp5_rate',
 'comp5_inv',
 'comp8_inv',
 'click_bool',
 'booking_bool']

In [73]:
new = df.filter(cols, axis=1)

In [75]:
new.head()

,srch_id,date_time,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,...,srch_saturday_night_bool,orig_destination_distance,random_bool,comp2_rate,comp2_inv,comp5_rate,comp5_inv,comp8_inv,click_bool,booking_bool
0,1,2013-04-04 08:32:15,12,187,219,893,3,3.5,1,2.83,...,1,NaN,1,0.0,0.0,0.0,0.0,0.0,0,0
1,1,2013-04-04 08:32:15,12,187,219,10404,4,4.0,1,2.20,...,1,NaN,1,NaN,NaN,0.0,1.0,0.0,0,0
2,1,2013-04-04 08:32:15,12,187,219,21315,3,4.5,1,2.20,...,1,NaN,1,0.0,0.0,0.0,0.0,0.0,0,0
3,1,2013-04-04 08:32:15,12,187,219,27348,2,4.0,1,2.83,...,1,NaN,1,-1.0,0.0,0.0,1.0,0.0,0,0
4,1,2013-04-04 08:32:15,12,187,219,29604,4,3.5,1,2.64,...,1,NaN,1,0.0,0.0,0.0,0.0,0.0,0,0